{% extends 'base.html' %}
{% load static %}
{% block 'head' %}
    <link href="{% static 'core/css/index.css' %}" rel="stylesheet">
{% endblock%}

{% block 'body' %}
<div class="wrapper">
    <div class="box"> 
        <div class="header-box">
            {% if messages %}
                {% for message in messages %}
                    <section class="alert {{message.tags}}">
                        {{message}}
                    </section>
                {% endfor %}
            {% endif %}
            
            <h2 class="h2">Adicionar ao Estoque</h2>
            <form action="{% url 'index' %}" method="POST">{% csrf_token %}
            <div class="row">
                <div class="col-md-4">
                    <h6 class="h6">Tecido</h6>
                    <select class="form-select" name="tipo">
                        {% for value, key in tipos_tecido %}
                            <option value="{{value}}">{{key}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-4">
                    <h6 class="h6">Cor</h6>
                    <select class="form-select" name="cor">
                        {% for value, key in cores %}
                            <option value="{{value}}">{{key}}</option>
                        {% endfor %}
                    </select>
                </div>
                
            
            <div class="col-md-3">
                <h6 class="h6">Metro(s)</h6>
                <div class="input-group mb-1">
                    <input type="number" class="form-control" name="metros" aria-label="Recipient's username" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="submit">Adicionar</button>
                    </div>
                  </div>
            </div>
        </div>
        </div>
    </form>


    <div class="wrapper">
        <div class="box"> 
            <div class="body-box">
                <h2 class="h2">Estoque de Tecidos</h2>
            
                <div class="row">
                    <form action="{% url 'index' %}" method="GET">{% csrf_token %}
                        <div class="col-md-3">
                            <h6 class="h6">Ordenar por:</h6>
                            <select class="form-select" name="filtro_selecionado" onchange="this.form.submit()">
                                <option value="0"></option>
                                {% for key, value in filtros.items %}
                                    <option value="{{value}}">{{key}}</option>
                                {% endfor %}
                            </select>
                        </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Tipo de Tecido</th>
                            <th scope="col">Cor de tecido</th>
                            <th scope="col">Metros em estoque</th>
                            <th scope="col">Editar estoque</th>
                            <th scope="col">Excluir estoque</th>
                        </tr>
                    </thead>
                    <tbody>
                  {% for tecido in tecidos %}
                      <tr>
                          <th  scope="row">{{tecido.id}}</th>
                          <td>{{tecido.tipo}}</td>
                          <td>{{tecido.cor}}</td>
                          <td>{{tecido.metros}} metro(s)</td>
                          <td>
                                    <button onclick="location.href = '{% url 'alterar' tecido.id %}'" type="button" class="btn btn-success">
                                        +
                                    </button>
                                    <button onclick="location.href = '{% url 'subtrair_estoque' tecido.id %}'" type="button" class="btn btn-warning">
                                        -
                                    </button>
                          </td>
                          <td>
                            <button onclick="location.href = '{% url 'excluir' tecido.id %}'" type="button" class="btn btn-danger">Excluir</button>
                          </td>
                      </tr>
                  {% endfor %}
                  <tbody>
                </table>
            </div>


            

        </div>
    </div>

{% endblock%}